<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :mobile_phone %><br />
    <%= f.text_field :mobile_phone, autofocus: true, autocomplete: "mobile phone" %>
  </div>

  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name, autofocus: true, autocomplete: "company name" %>
  </div>

  <div class="field">
    <%= f.label :company_proof %><br />
    <%= f.text_field :company_proof, autofocus: true, autocomplete: "company website link, linkedin link or SIREN number" %>
  </div>

  <div class="field">
    <%= f.label :company_type %><br />
    <%= f.select :company_type, ["Select a category", "Brand", "Textile supply chain player", "CSR 3rd party tool or application", "Other brand supplier (e.g. logistic, packaging)", "Other"] %>
  </div>

  <div class="field">
    <%= f.label :company_position %><br />
    <%= f.text_field :company_position, autofocus: true, autocomplete: "company position" %>
  </div> <br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
