<main class="form-signin user-edit">
   <h1 class="h3 mb-3 fw-normal">Edit your profile</h1>

  <%= form_for(current_user, url: company_user_path) do |f| %>
  
    <div class="form-floating">
      <%= f.text_field :first_name, autofocus: true, class:"form-control edit-profile", id:"floatingInput" %>
      <%= f.label :first_name, value:"First name" %>
    </div>

    <div class="form-floating">
      <%= f.text_field :last_name, autofocus: true, class:"form-control edit-profile", id:"floatingInput" %>
      <%= f.label :last_name, value:"Last name" %>
    </div>

    <div class="form-floating">
      <%= f.text_field :mobile_phone, autofocus: true, class:"form-control edit-profile", id:"floatingInput" %>
      <%= f.label :mobile_phone, value:"Mobile phone" %>
    </div>

    <div class="form-floating">
      <%= f.text_field :company_job_title, autofocus: true, class:"form-control edit-profile", id:"floatingInput" %>
      <%= f.label :company_job_title, value:"Company position" %>
    </div> <br />

    <div class="form-floating">
      <%= f.submit "Edit my profile", class:"w-100 btn btn-secondary"%>
    </div>

  <% end %>

  <%= link_to "Back", :back %>
  
</main>
