<p id="notice"><%= notice %></p>
<main>
  <h1 class="h3 mb-3 fw-normal" width="50%">My profile</h1>

  <% if current_user.company_id != nil%>
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Profile informations</h6>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Email address</strong>
              <%= link_to "Edit", edit_user_registration_path %>
            </div>
            <span class="d-block"><%= current_user.email %></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">First Name</strong>
              <%= link_to "Edit", edit_company_user_path(@company.id, current_user.id) %>
            </div>
            <span class="d-block"><%= current_user.first_name %></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Last Name</strong>
              <%= link_to "Edit", edit_company_user_path(@company.id, current_user.id) %>
            </div>
            <span class="d-block"><%= current_user.last_name %></span>
          </div>  
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Mobile Phone</strong>
              <%= link_to "Edit", edit_company_user_path(@company.id, current_user.id) %>
            </div>
            <span class="d-block"><%= current_user.mobile_phone %></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Company</strong>
              <%= link_to "Company profile", company_path(@company.id) %>
            </div>
            <span class="d-block"><%= @company.name %></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Company position</strong>
              <%= link_to "Edit", edit_company_user_path(@company.id, current_user.id) %>
            </div>
            <span class="d-block"><%= current_user.company_job_title %></span>
          </div>
        </div>
  <% else %>
    <p> Now you have joined your company you can complete your user profile </p>
    <%= link_to 'Complete my user profile', edit_company_user_path(@company.id, current_user.id) %> <br/> <br/>
  <%end%>
</main>