<p id="notice"><%= notice %></p>
<main>
  <h1 class="h3 mb-3 fw-normal">My profile</h1>

  <% if current_user.company_id != nil%>
    <div class="row">
      <div class="card col-sm-6" width="70%">
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Profile informations</h6>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Email address</strong>
              <a href="/users/edit">Edit admin. settings</a>
            </div>
            <span class="d-block"><%= current_user.email %></span>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">First name</strong>
              <%= current_user.first_name%>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Last name</strong>
              <%= current_user.last_name%>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Mobile phone</strong>
              <%= current_user.mobile_phone%>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Company position</strong>
              <%= current_user.company_job_title%>
            </p>
          </div>
          <small class="d-block text-right mt-3">
            <%= link_to "Edit profile settings", edit_company_user_path(@company.id, current_user.id) %>
          </small>
        </div>
      </div>
      <div class="card col-sm-6">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Profile informations</h6>
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Email address</strong>
                <a href="/users/edit">Edit admin. settings</a>
              </div>
              <span class="d-block"><%= current_user.email %></span>
            </div>
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">First name</strong>
                <%= current_user.first_name%>
              </p>
            </div>
        </div>
      </div>
    </div>
  <%end%>
</main>







<ul>
  <% if current_user.company_id != nil%>
    <li>
      <%= link_to "Go to your company profile", company_path(@company.id) %>
    </li>

    <li>
      <%= link_to "Edit admin settings", edit_user_registration_path %>
    </li>

    <li>
      <%= link_to "Edit profile settings", edit_company_user_path(@company.id, current_user.id) %>
    </li>
  <% else %>
    <p> Now you have joined your company you can complete your user profile </p>
    <%= link_to 'Complete your user profile', edit_company_user_path(@company.id, current_user.id) %> <br/> <br/>
  <%end%>
</ul>