<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-floating">
    <%= f.email_field :email, autofocus: true, class:"form-control", id:"floatingInput" %>
    <%= f.label :email, value:"Email address" %> <br/>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"w-100 btn btn-lg btn-secondary fw-bold border-white bg-white", style:"color:rgb(51,51,51); font-size:small" %>
  </div>
<% end %>
</main>
