<main>
  <p id="notice"><%= notice %></p>
  <p class="h3 mb-3 fw-normal">Company profile</p>
  <p class="h4 mb-3 fw-normal"><%= @company.name %></p>

  <% if current_user.company_id == nil %>
    <div class="jumbotron">
      <hr class="my-4">
      <p>Now you have joined your company you can complete your user profile</p>
      <p class="lead">
        <%= link_to 'Complete your user profile', edit_company_user_path(@company.id, current_user.id), class:"w-20 btn btn-lg btn-secondary fw-bold border-white bg-white", style:"color:rgb(51,51,51); font-size:medium" %> <br/>
      </p>
      <hr class="my-4">
      <p>If this company is not yours, go back to the previous page to find the correct one</p>
      <p class="lead">
        <%= link_to 'Back', companies_path, class:"w-20 btn btn-lg btn-secondary fw-bold border-white bg-white", style:"color:rgb(51,51,51); font-size:medium" %> <br/>
      </p>
    </div>

  <% else %>
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Company informations</h6>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Category</strong>
            </div>
            <span class="d-block"><%= @company.category %></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Product positioning</strong>
            </div>
            <span class="d-block"><%= @company.product_positioning %></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Market</strong>
            </div>
            <span class="d-block"><%= @company.market_positioning %></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">CSR maturity</strong>
            </div>
            <span class="d-block"><%= @company.csr_maturity%></span>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Company key point of contact</strong>
            </div>
            <table style="width:100%">
              <tr>
                <td><%= @user.first_name %> <%= @user.last_name %></td>
                <td><%= @user.company_job_title %></td>
                <td><%= @user.email %></td>
              </tr>
            </table>
          </div>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Stakeholders registered</strong>
            </div>
            <table style="width:100%">
              <% @colleagues.each do |colleague| %>
                <tr>
                  <% if colleague.id != @company.administrator_id%>
                    <td><%= colleague.first_name %> <%= colleague.last_name %></td>
                    <td><%= colleague.company_job_title %></td>
                    <td><%= colleague.email %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
          <% if @company.administrator==current_user %>
            <small class="d-block text-right mt-3">
              <%= link_to 'Edit company profile', edit_company_path(@company) %> /
              <%= link_to 'Delete company', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
            </small>
          <% end %>
        </div>
  <% end %>
</main>


