<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, class:"form-control", id:"floatingInput" %>
        <%= f.label :email, value:"Email address" %>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, autofocus: true, class:"form-control", id:"floatingPassword" %>
        <%= f.label :password, value:"Password" %>
      </div>


      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"w-100 btn btn-lg btn-secondary fw-bold border-white bg-white", style:"color:rgb(51,51,51); font-size:medium" %>
      </div>
    <% end %>

  </form>
    <%= render "devise/shared/links", class:"links" %>
</main>

